<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492537180520-n437brkbigqda6gpgh7e9ji8s0sjt4ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492537180520-n437brkbigqda6gpgh7e9ji8s0sjt4ek</string>
	<key>API_KEY</key>
	<string>AIzaSyC8d4a6YmI7P5heJ6m8WFliIk9OdDddC8I</string>
	<key>GCM_SENDER_ID</key>
	<string>492537180520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhruvrastogi.curentine2</string>
	<key>PROJECT_ID</key>
	<string>curentine-8c80f</string>
	<key>STORAGE_BUCKET</key>
	<string>curentine-8c80f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492537180520:ios:09899c8752e12b6497a6dd</string>
	<key>DATABASE_URL</key>
	<string>https://curentine-8c80f.firebaseio.com</string>
</dict>
</plist>